<!DOCTYPE html>

<html lang="{% block language %}{{ request.LANGUAGE_CODE }}{% endblock %}">
	<head>
		{# CSS #}
		<link rel="stylesheet" href="{{ static( 'commonApp/css/modern-normalize.min.css' ) }}"/>
		<link rel="stylesheet" href="{{ static( 'siteApp/css/siteApp.css' ) }}"/>
		
		{# Javascript #}
		<script src="{{ static( 'commonApp/javascript/jquery-3.6.0.min.js' ) }}"></script>
		<script src="{{ static( 'siteApp/javascript/siteApp.js' ) }}"></script>
		{% block extraScripts %}{% endblock %}
		
		{# Favicon #}
		<link rel="icon" href="{{ static( 'siteApp/images/favicon.png' ) }}"/>
		<link rel="apple-touch-icon" href="{{ static( 'siteApp/images/favicon.png' ) }}"/>
		
		{# Preload #}
		<link rel="preload" href="{{ static( 'siteApp/images/logo.svg' ) }}" as="image">
		{% if self.bannerImage() %}
			<link rel="preload" href="{{ self.bannerImage() }}" as="image">
		{% endif %}
		
		{# Meta #}
		<title>{% block title %}{{ _('VAZ Projects') }}{% endblock %}</title>
		<meta name="description" content="{{ _('TODO: Meta description.') }}">
		<meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1">
		<meta charset="UTF-8"/>
	</head>
	
	<body class="{% block pageName required %}{% endblock %}">
		<header class="header">
			<a href="{{ url( 'siteApp:home' ) }}">{{ _('VAZ Projects') }}</a>
		</header>
		
		<nav class="menu">
			<a href="{{ url( 'siteApp:home' ) }}">{{ _('Home') }}</a>
			<a href="{{ url( 'projectsApp:projects' ) }}">{{ _('Projects') }}</a>
			<a rel="noopener" href="https://gitlab.com/marcelotsvaz">{{ _('Code') }}</a>
			<a href="{{ url( 'blogApp:blog' ) }}">{{ _('Blog') }}</a>
			<a href="{{ url( 'siteApp:about_me' ) }}">{{ _('About me') }}</a>
		</nav>
		
		{% if self.bannerTitle() %}
			<header class="banner">
				<img src="{% block bannerImage %}{% endblock %}" alt="{{ _('Banner image.') }}">
				
				<div>
					<h1>{% block bannerTitle %}{% endblock %}</h1>
					
					{% if self.bannerText() %}
						<p>{% block bannerText %}{% endblock %}</p>
					{% endif %}
				</div>
			</header>
		{% endif %}
		
		<main class="content">
			{% block content required %}{% endblock %}
		</main>
		
		{% if self.sidebar() %}
			<nav class="sidebar">
				<section class="search">
					<h3>{{ _('Search') }}</h3>
					
					<form class="searchForm" role="search" action="{{ url( 'siteApp:search' ) }}">
						<input type="search" name="query" placeholder="{{ _('Search the site...') }}" value="{% block searchQuery %}{% endblock %}">
						<input type="submit" value="{{ _('Search') }}">
					</form>
				</section>
				
				{% block sidebar %}{% endblock %}
			</nav>
		{% endif %}
		
		<footer class="footer">
			<p>
				{{ _('©2022 VAZ Projects') }}
				<a rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/">
					<img src="{{ static( 'siteApp/images/CC0.svg' ) }}" alt="CC0"/>
				</a>
			</p>
			
			<p>
				{{ _('To the extent possible under law, Marcelo Vaz has waived all copyright and related or neighboring rights to content on this site.') }}
			</p>
		</footer>
	</body>
</html>